/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/** Main Css */
/* body {
  width: 100vw;
  height: 100vh;
} */

body {
	background: rgba(46, 196, 182, 0.03);
}

.wrapper {
	display: flex;
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	/* background: rgba(46, 196, 182, .03); */
}
#form-description-mobile {
	display: none;
}

.flex-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
}

.first-column-inner-wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.second-column-inner-wrapper {
	border-radius: 6px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
	display: flex;
	justify-content: center;
}

form {
	margin: 15px;
	border-radius: 0px;
}

#logo {
	max-width: 77.3px;
	min-height: 80px;
	margin-top: -7px;
	margin-left: -8px;
}

#heading-text {
	color: rgba(0, 11, 10, 1);
	font-family: sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px; /* 125% */
	letter-spacing: -0.8px;
}

.form-description-container {
	min-height: 75px;
	max-width: 460px;
	margin-bottom: 0px;

	color: rgba(115, 115, 115, 1);
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px; /* 156.25% */
}

.second-column-inner-wrapper {
	margin: 0 auto;
}

label {
	color: rgba(1, 28, 52, 1);
	font-family: "Sofia Pro", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.1px;
}

.input-container,
.input-container-full {
	width: 238px;
	height: 48px;
	border: 1px solid rgba(240, 240, 240, 1);
	border-radius: 2px;
	display: flex;
	align-items: center;

	color: rgba(1, 28, 52, 1);
	font-family: "Sofia Pro", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.2px;
}

.input-container:active {
	border: 1px solid rgba(46, 196, 182, 1);
}

.input-container-full:active {
	border: 1px solid rgba(46, 196, 182, 1);
}

input:focus {
	outline: none;
}

#img-icon-container-calender {
	margin-left: 20px;
}

#img-icon-container-password {
	margin-left: 30px;
}

.input-container input,
select {
	width: 170px;
	height: 20px;
	margin-left: 10px;
	border: transparent;
}

.input-container-full {
	width: 500px;
}

.input-container-full select,
input {
	width: 432px;
	height: 20px;
	border: none;
	margin-left: 10px;
}

.input-container select {
	width: 90%;
	color: rgba(115, 115, 115, 1);
	font-family: "Sofia Pro", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.2px;
	background: transparent;
}

.input-container-full select {
	width: 95%;
	color: rgba(115, 115, 115, 1);
	font-family: "Sofia Pro", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.2px;
	background: transparent;
}

.form-row {
	display: flex;
}

.form-row-full-width {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 238px;
	min-height: 72px;
	margin-right: 20px;
	margin-top: 15px;
}

#form-item-full-width {
	max-width: 500px;
	display: flex;
	flex-direction: column;
}

.form-field-container {
	width: 238px;
	height: 72px;
}

label {
	max-width: 238px;
	min-height: 16px;
}

form > button {
	width: 500px;
	height: 48px;
	background-color: rgba(46, 196, 182, 1);
	color: rgba(255, 255, 255, 1);
	border: none;
	margin-top: 10px;
}

.form-footer {
	margin: 10px auto;
	font-weight: 400;
	font-size: 14px;
	max-width: 453px;
	min-height: 25px;
}

span > a {
	color: rgba(46, 196, 182, 1);
}

@media (max-width: 600px) {
	.wrapper {
		flex-direction: column;
		width: auto;
	}

	#logo {
		max-width: 38.67px;
		min-height: 40px;
		margin-top: 0px;
		margin-left: -7px;
		margin-bottom: 10px;
	}

	#form-description {
		display: none;
	}

	#form-description-mobile {
		display: initial;
	}

	.heading-container {
		max-width: 327px;
		min-height: 30px;
		margin-bottom: 10px;
	}

	#heading-text {
		font-weight: 700px;
		font-size: 30px;
		line-height: 29.4px;
	}

	.form-description-container {
		min-height: 50px;
		max-width: 327px;
		margin-bottom: 10px;
	}

	#form-description {
		font-weight: 300px;
		height: 50px;
		font-size: 9px;
		line-height: 25px;
	}

	.form-group {
		max-width: 295px;
		min-height: 72px;
		margin-right: 0px;
		margin-top: 10px;
	}

	.form-row {
		flex-direction: column;
	}

	.input-container,
	.input-container-full {
		width: 295px;
		height: 48px;

		input {
			width: 90%;
      
		}

		select {
			width: 95%;
		}
	}

	#img-icon-container-password,
	#img-icon-container-calender {
		margin-right: 5px;
		margin-left: 5px;
	}

	form > button {
		max-width: 295px;
	}

	.form-footer {
		margin: 10px auto;
		line-height: 25px;
		text-align: center;
		max-width: 295px;
		min-height: 25px;
	}

	label {
		max-width: 295px;
		min-height: 16px;
	}

	.first-column-inner-wrapper {
		margin: 20px auto;
		max-width: 300px;
		min-height: fit-content;
	}

	.second-column-inner-wrapper {
		border: 5px solid rgba(255, 255, 255, 1);
		border-radius: 6px;
		margin: 0 auto;
		max-width: 327px;
		min-height: 870;
	}
}
